#center{
    position: absolute;
    top: 23.3%;
    left:50%
}

#googlelogo{
    position: relative;
    left: -136px;
    top:-25px;
    margin: 0px;
}

#search-bar{
    position: relative;
    width: 584px;
    height: 42px;
    left: -292px;
    border-style: solid;
    border-width: 1px;
    border-color:#e0e0e0;

    border-radius: 50px;
}

#search-bar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#search-input{
    font-size:16px;
    position: relative;
    height: 34px;
    width: 527px;
    left: 43px;
    top:2px;
    border-style: none;
    border-color: blue;
    outline:none;
}

#search-input:focus{
    outline: none;
}

#mag-glass{
    position: relative;
    height:24px;
    width:24px;
    top:-28px;
    left:10px;
}

ul {
    font-family: Arial, sans-serif;
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li{
    display: inline;
    margin:0px 7px;
}

li:hover{
    cursor: pointer;
}

a:link, a:visited{
    color:black;
    opacity: 0.75;
    text-decoration: none;
}
a:hover{
    text-decoration-line: underline;
}

#top-left{
    float: left;
    position: relative;
    top: 15px;
    left: 8px;
}

#top-right{
    float: right;
    position: relative;
    top: 15px;
}

#sign-in-link{
    color: white;
    background-color: #4285f4;
    opacity: 100;
    font-weight: bold;
    padding: 10px 15px;
    border: #4285f4 solid;
    border-radius: 2px;
    border-width: 0px;
}

#bottom-bar{
    position: absolute;
    bottom: 0;
    width:100%;
    background-color: rgb(241, 241, 241);
    left:0;
    height: 4.5%;
    border-top:rgb(207, 207, 207) solid 0.5px;
}

#bottom-left{
    position: relative;
    float: left;
    top: 15px;
    left: 10px;
}

#bottom-right{
    position: relative;
    float: right;
    top: 15px;
    right: 10px;
}

.bottom-item{
    color: #5f6368; /*Doesn't work right now due to inherting from a:properties*/
    margin: 0px 15px;
}

.bar-buttons{
    position: relative;
    margin: 25px 5px;
    padding: 10px 15px;
    box-shadow: none;
    font-family: Arial;
    color: #5f6368;
    
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    
    cursor: pointer;

    text-align: center;

}

.bar-buttons:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
    border: 1px solid #c6c6c6;
}

#buttons-form{
    position: relative;
    right: 25%;
}
